﻿.msg {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5; /* Sit on top */
        left: 0;
        top: 100px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
    }
	#send-btn {/* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
		height:50px;
		width:130px;
		right:5px;
		bottom: 5px;
		border-style:solid;
		border-color:#FC3;	
    }

    .msg-content {
        position: center;
        background-color: #fefefe;
        margin: auto;
        padding: 10px;
        padding-right:0px;
        border-radius:25px;
        padding-top:0px;
        border: 5px solid #FC3;
        width: 30%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    /* Message Header */
    .msg-header {
        padding: 0px 0px;
        color: brown;
    }
	
input, select, textarea, text{
    color:#930;
}

    /* Message Body */
    .msg-body {
        padding: 2px 5px;
    }

    /* The Close Button */
    .close {
        color: red;
		padding-left:5px;
		padding-top:0px;
        float: right;
        font-size: 40px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
     