/* CSS Document */
@media only screen and (min-width : 872px) {
#toast-container {
min-width: 8%;
top: 50%;
right: 30%; } 
	.toast{
		border: solid;
		border-radius: 20px;
		background-color: #666666;
	}
}
.rpticons{
	font-size: 33px;
	color: #82C9E2;
}
.apm-text-field{
	margin-bottom: 10px;
}
#crewInquiryPanel, #editShowcasePanel, #appUsersPanel, #showcaseListPanel, #editNewsPanel, #createNewsPanel, #editEventPicPanel, #eventsListPanel, #editLocationPanel, #createLocationPanel, #editLocationPicPanel, #locationListPanel, #editSocialPanel, #createSocialPanel, #editSocialPicPanel, #socialListPanel,#editFacilityPanel, #createFacilityPanel, #editFacilityPicPanel, #facilityListPanel, #locationInquiryPanel, #facilityInquiryPanel, #bursaryInquiryPanel, #fundingInquiryPanel, #userPanel, #trainingInquiryPanel{
	display: none;
}
.nob{
    border-top: 0px;
}
.jcard{
	border: solid;
}
.panel .panel-heading {
    padding-left: 25px;
    padding-right: 15px !important;
}
.search-header2{
	padding-right: 9px !important;
}
#dropBox, #edropBox, #esdropBox, #csdropBox, #efdropBox, #cfdropBox, #eldropBox, #cldropBox{
    height: 53px;
    padding: 0px 34px;
    box-sizing: border-box;
}
#dropBox p, #edropBox p, #esdropBox p, #csdropBox p, #efdropBox p, #cfdropBox p, #eldropBox p, #cldropBox p{
    text-align: center;
    margin: 11px 0;
    font-size: 12px;
    font-weight: bold;
}
#fileInput, #efileInput, #esfileInput, #effileInput, #cffileInput, #csfileInput, #clfileInput, #elfileInput {
    display: none !important;
}
#dropBox, #edropBox, #esdropBox, #csdropBox, #efdropBox, #cfdropBox, #eldropBox, #cldropBox  {
    border: 3px dashed #0087F7;
    border-radius: 5px;
    background: #F3F4F5;
    cursor: pointer;
}