<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="libs/js/jquery-3.1.1.min.js"></script>
<link href="libs/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
<link href="libs/css/login.css" rel="stylesheet" media="screen"> 
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <a href="dashboard.html"><center><img class="profile-img" src="AppImages/mainlogo.png" width="220px" height="550px"></center></a>
                <form class="form-signin" id="form1" name="form1">
                <input type="text" name="username" id="username"class="form-control" placeholder="Username" autofocus><br />
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                 <center> <div id="info1"></div></center>
                <button class="btn btn-lg btn-primary btn-block" style="border-color:#FFF; background:#333" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Forgot password </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="libs/js/login.js" type="text/javascript"></script>